@import '../../src/utils/colors.scss';

* {
	color: $font-color;
}

#root {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $background-color;
}

.wrap {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
